
.container {
    position: relative;
}

.container .title{
    position: absolute;
    right: 10%;
    font-size: 75px;
    font-family: Agency FB, serif;
    color: #07827D;
}

.container .background_landing {
    width: 1890px;
    height: 951px;
}


.container .btn_signup {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 19%;
    left: 25%;
    opacity: 1;
}

.container .btn_signup:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container .btn_login {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 23%;
    left: 25%;
    opacity: 1;
}

.container .btn_login:hover {
    opacity: 0.8;
    cursor: pointer;
}


.container .btn_signup1 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 45%;
    left: 25%;
    opacity: 1;
}

.container .btn_signup1:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container .btn_login1 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 49%;
    left: 25%;
    opacity: 1;
}

.container .btn_login1:hover {
    opacity: 0.8;
    cursor: pointer;
}


.container .btn_signup2 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 75%;
    left: 25%;
    opacity: 1;
}

.container .btn_signup2:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container .btn_login2 {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 79%;
    left: 25%;
    opacity: 1;
}

.container .btn_login2:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*.form {
    text-align: center;
    display: block;
    padding: 10px;
}*/


.bg_teacher {
    width: 1890px;
    height: 951px;
    position: absolute;
}

.bg_student {
    width: 1890px;
    height: 951px;
    position: absolute;
}

.bg_parent {
    width: 1890px;
    height: 951px;
    position: absolute;
}


.row .student_sign {
    display: block;
    width: 500px;
    margin-left: 400px;
    margin-top: 250px;
}

.row .student_log {
    display: block;
    width: 500px;
    margin-left: 400px;
    margin-top: 250px;
}


.row .teacher_sign {
    display: block;
    width: 500px;
    margin-left: 1000px;
    margin-top: 450px;
}


.row .teacher_log {
    display: block;
    width: 500px;
    margin-left: 800px;
    margin-top: 450px;
}




.row .parent_sign {
    display: block;
    width: 500px;
    margin-left: 400px;
    margin-top: 350px;
}

.row .parent_log {
    display: block;
    width: 500px;
    margin-left: 400px;
    margin-top: 350px;
}



.row .teacher_sign .btn_signup {
    width: 200px;
    height: 50px;
    margin-left: 290px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}

.row .teacher_log .btn_signup1 {
    width: 200px;
    height: 50px;
    margin-left: 40px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}

.row .parent_sign .btn_signup {
    width: 200px;
    height: 50px;
    margin-left: 290px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}

.row .parent_log .btn_signup {
    width: 200px;
    height: 50px;
    margin-left: 290px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}

.row .student_sign .btn_signup {
    width: 200px;
    height: 50px;
    margin-left: 290px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}


.row .student_log .btn_signup {
    width: 200px;
    height: 50px;
    margin-left: 290px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    color: #07827D;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}